@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f3f3f3;
  background: rgb(0, 0, 50);
}
nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: rgb(0 0 125 / 40%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0px 4px 12px rgb(0 0 0 / 21%);
}
nav .nav-text {
  color: #f3f3f3
}
.max-w-7xl {
  max-width: none;
}
.bg-white {
  background-color: inherit;
}
/* @media   (min-width: 1024px) {
  .lg:py-56 {
      padding-top: 8rem;
      padding-bottom: 8rem;
  }
} */